# Environment Variables Template
# Copy this file to `.env` and fill in the values before running the application.
PORT # Port number for the server
DATABASE_URL # Database connection URL
ALLOWED_ORIGINS # Orígenes permitidos para CORS
JWT_SECRET # Secret key for JWT authentication
JWT_REFRESH_SECRET # Secret key for JWT refresh tokens
RECAPTCHA_SECRET_KEY # Secret key google recaptcha
NODE_ENV # Environment (development, production, etc.)
